body{background-color: steelblue ;
font-family:'Sigmar', cursive; ; }

.recette{text-align: center;}

.Quebec{width: 50%;
border: 10px solid black}

.pate{text-align: center;}


.trois{text-transform: uppercase;}


.chinois{width: 50%;
border: 10px solid black;}

.lien{background-color: blue ;
color: black;}

.year{text-align: center;}

h2{text-align: center;}
.pouding{text-align: center;}
.chomeur{width: 50%;
border: 10px solid black;}

.lien2{background-color: blue;
color: black;}

.paille{border: 10px solid black;
width: 50%;}
.six{text-align: center;}
.titre{text-align: center;
text-transform: uppercase;}
img{text-align: center;
width: 50%;border: 10px solid;}
.about{text-align: center;}
.Contact{background-color: blue;
color: black;}
.lol{background-color: blue;
color: black;}









.lien3{background-color: blue;color: black;}